<h2>List</h2>
   <ul class="heroes">
      <li *ngFor="let hero of heroes" >
      <a routerLink="/detail/{{hero.id}}" routerLinkActive="active" >
            <span class="badge">{{hero.id}}</span> <span class="text">{{hero.name}}</span> <span class="badge2">major</span><span class="text">{{hero.major}}</span>
      </a>
      <button routerLink="/detail/{{hero.id}}">Edit</button>
      <button class="delete" title="delete hero"
     (click)="delete(hero)">x</button>

      </li>
   </ul>

   <div>
         <label>name:
           <input #heroName />
         </label>
         <label>major:
          <input #major />
        </label>
         <!-- (click) passes input value to add() and then clears the input -->
         <button (click)="add(heroName.value,major.value); heroName.value=''; major.value='';">
           add
         </button>
       </div>
   